# IDE
.idea/
.vscode/

# Next.js
.next/
out/
dist/

# Dependencies
node_modules/

# Env
.env
.env.local

# Prisma / DB
prisma/dev.db

# Generated test artifacts
paintmix-test.xlsx

# Logs
npm-debug.log*
